/* About Me Section */
.about {
    padding: 2rem 2rem;
    text-align: center;
}

.about__container {
    max-width: 80%;
    margin: 0 auto;
    padding: 2rem;
}

.about__title {
    font-size: 3.5rem;
    font-family: var(--headingFont);
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 1rem;
}

.about__description {
    font-family: var(--textFont);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    color: #e0e0e0;
}

@media (max-width: 950px) {
    .about__title {
        font-size: 2rem;
    }

    .about__description {
        font-size: 1.1rem;
    }
}

@media (max-width: 800px) {
    .about {
        padding: 3rem 1.5rem;
    }

    .about__title {
        font-size: 1.8rem;
    }

    .about__description {
        font-size: 1rem;
    }
}

@media (max-width: 512px) {
    .about {
        padding: 2rem 1rem;
    }

    .about__title {
        font-size: 1.5rem;
    }

    .about__description {
        font-size: 1rem;
    }
}