/* Projects Section */
.projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.project__item {
    background-color: var(--secondary);
    color: #e0e0e0;
    width: 100%;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.project__item:hover {
    background-color: rgba(60, 60, 60, 0.9);
    color: var(--primary);
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.project__item:hover p {
    color: white;
}

.project__title {
    font-family: var(--headingFont);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.project__description {
    font-family: var(--textFont);
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.project__icons {
    margin-bottom: 1.6rem;
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.project__icons i {
    font-size: 30px;
    transition: transform 0.3s ease-in-out;
}

.project__icons i:hover {
    transform: rotate(360deg);
}

.btn-project {
    padding: 0.8rem;
    font-family: var(--textFont);
    font-weight: 500;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary);
    cursor: pointer;
    text-decoration: none;
    color: var(--secondary);
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.btn-project:hover {
    background-color: rgba(0, 136, 169, 0.7);
    transform: translateY(-3px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 1895px) {
    .projects__container {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .projects__container .project__item:nth-child(5) {
        grid-column: span 2;
        justify-self: center;
    }

    .project__item:nth-child(5) {
        width: 90%;
    }
}

@media (max-width: 1144px) {
    .projects__container {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .projects__container .project__item:nth-child(5) {
        grid-column: span 2;
        justify-self: center;
    }

    .project__item:nth-child(5) {
        min-width: 100%;
    }
}

@media (max-width: 760px) {
    .projects__container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        align-items: center;
    }

    .project__item {
        width: 100%;
        /* max-width: 300px; */
    }
}